.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spinner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.page-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
