.main{
    padding: 10px;
    /* height: 100vh; */
}

.layout{
    display: flex;
}

.sidebar{
    height: 100%;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    box-shadow: 0 0 2px gray;
    color: white;
    z-index: 100;
}

.content{
    width: 100%;
    margin-left: 20vw;
    /* border: 0.2px solid red; */
}

.title {
    padding: 10px 0 0 20px;
}


/* .body{
    margin-bottom: 2px;
    box-shadow: 0 0 2px gray;
} */

/* .menu{
    margin-top:50px;
} */

.menu-item{
    margin: 30px 0;
}

.menu-item a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu-item i{
    font-size: 1.2rem;
    margin: 0 15px;
}

.active{
    background-color: white;
    padding: 10px 0;
    margin: 10px;
}
.active a, .active i{
    color: black;
}

.header{
    height: 10vh;
    margin-bottom: 20px;
}

.header-content{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50px;
    margin: 0 15px;
}

.header-content i{
    margin-right: 20px;
    font-size: 1.2rem;
}

.header-content a{
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
    text-transform: uppercase;
}

.habitReport__form {
    border: 1px solid #ccc;
    padding: 40px;
    border-radius: 25px;
}
